<div class="container">

    <form [formGroup]="manageRoles">
        <p>Select a user and add or remove a role</p>

        <mat-form-field appearance="outline" color="accent" class="mat-field">
            <mat-label>Username</mat-label>
            <mat-select disableOptionCentering multiple formControlName="username">
                <mat-option *ngFor="let username of users" value="{{username}}">{{username}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="mat-field">
            <mat-label>Role</mat-label>
            <mat-select disableOptionCentering multiple formControlName="role">
                <mat-option *ngFor="let role of roles" value="{{role}}">{{role}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="mat-field">
            <mat-label>Operation</mat-label>
            <mat-select disableOptionCentering formControlName="operation">
                <mat-option *ngFor="let operation of operations" value="{{operation}}">{{operation}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="btn-area">
            <button mat-raised-button type="button">
                <span *ngIf="formControl['operation'].value ==='Add'">Add Role</span>
                <span *ngIf="formControl['operation'].value ==='Remove'">Remove Role</span>
            </button>
        </div>
    </form>
</div>