.dialog {
    overflow: hidden;
    max-width: 20rem;
}

.warning-text {
    width: 100%;
    text-align: center;
}

p {
    white-space: pre-wrap;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: var(--content-bg-color-2);
}