<div class="navigation">
    <a routerLink="/store/show" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="storefront" color="accent"></mat-icon>
        <p>Store</p>
    </a>

    <a routerLink="/store/wishlist" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="receipt_long" color="accent"></mat-icon>
        <p>My Wishlist</p>
    </a>

    <a routerLink="/store/cart" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="shopping_cart" color="accent"></mat-icon>
        <p>Cart</p>
    </a>
</div>