<div class="navigation">

    <a routerLink="/notes/show/all" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="public" color="accent"></mat-icon>
        <p>Community</p>
    </a>
    <a routerLink="/notes/show/urgent" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="star_rate" color="accent"></mat-icon>
        <p>Favorites</p>
    </a>
    <a routerLink="/notes/show/non-urgent" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="sticky_note_2" color="accent"></mat-icon>
        <p>My Notes</p>
    </a>
    <a routerLink="/notes/add/create-note" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="create" color="accent"></mat-icon>
        <p>Create</p>
    </a>
</div>