<mat-sidenav-container class="sidenav-container">

  <mat-sidenav position="end" #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/notes/" (click)="drawer.toggle()" routerLinkActive="active-link">Notes</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isLoggedIn">
      <div class="menu">

        <div class="desktop-left-side">
          <app-navigation-desktop-notes [class.hidden]="isHandset$ | async"></app-navigation-desktop-notes>
        </div>

        <div class="desktop-center">
          <img src="/assets/img/logo.png" alt="logo" style="width: 3.4rem;">
        </div>

        <div class="desktop-right-side">
          <button class="hamburger" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon" color="accent">menu</mat-icon>
          </button>
          <div [class.hidden]="isHandset$ | async">
            <a mat-button color="accent" routerLink="/notes/" routerLinkActive="active-link">
              Notes</a>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>