.sidenav-container {
  height: 100%;
  padding: 0;
  background-image: var(--bg-url);
  background-repeat: var(--bg-repeat);
  background-size: var(--bg-size);
  background-attachment: var(--bg-attachment);
}

.mat-sidenav-content {
  overflow: hidden;
}

.mat-toolbar {
  background-image: linear-gradient(var(--menu-bg-deg), var(--menu-bg-color-1), var(--menu-bg-color-2));
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 1;
}

//menu
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  width: 47%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.menu-logo {
  width: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-right {
  width: 47%;
  display: flex;
  justify-content: flex-end;
}

.menu-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-submenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

// menu end

.hamburger .mat-icon {
  font-size: 2rem;
}

.hidden {
  display: none;
}

.mat-list-item {
  color: var(--color-accent);
}

.active-link {
  color: var(--color-success)
}