.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: calc(var(--top-menu-height) - 0.2rem);
    width: calc(var(--top-menu-height) - 0.2rem);
    border-radius: 50%;
    box-shadow: 0 0 6px 4px var(--color-primary);
    object-fit: cover;
    cursor: pointer;
}

.username {
    font-weight: bold;
}

::ng-deep .menu-user {
    margin-top: -var(--top-menu-height);
    margin-left: -1rem;
    background-image: linear-gradient(var(--menu-bg-deg), var(--menu-bg-color-1), var(--menu-bg-color-2));
}