.container {
    height: 3.2rem;
}

img {
    cursor: pointer;
    height: 100%;
    border-radius: 50%;
    transition: transform .8s ease-in-out;
}

img:hover {
    transform: rotate(360deg);
}

.username {
    font-weight: bold;

}

::ng-deep .menu-user {
    background-color: var(--color-primary);
    box-shadow: 0 0 4px 4px var(--color-primary);
}