<div class="container" *ngIf="!isPending">
    <div class="profile-pic">
        <img src="{{profileData.avatar}}" alt="avatar" [matMenuTriggerFor]="menuProfile">
    </div>
    <mat-menu #menuProfile="matMenu" class="menu-user">
        <button mat-menu-item routerLink="/profile/edit-profile" routerLinkActive="active-link"> Edit
            Profile </button>
        <button mat-menu-item routerLink="/login" routerLinkActive="active-link"> Logout
            <span class="username">
                {{profileData.username}}
            </span>
        </button>
    </mat-menu>
</div>