.container {
    height: 3.3rem;
}

img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px var(--color-disabled);
    object-fit: cover;
}

.username {
    font-weight: bold;
}

::ng-deep .menu-user {
    background-color: var(--color-primary);
    box-shadow: 0 0 4px 4px var(--color-primary);
}