<mat-card [ngStyle]="{'top': deviceHeight+'px'}" [class.display]="isHandset$ | async">
    <a routerLink="/store/show" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="storefront"></mat-icon>
        <p>Store</p>
    </a>
    <a routerLink="/store/wishlist" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="receipt_long"></mat-icon>
        <p>My Wishlist</p>
    </a>
    <a routerLink="/store/cart" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="shopping_cart"></mat-icon>
        <p>Cart</p>
    </a>
</mat-card>