.container {
    width: 100%;
    height: calc(100% - var(--top-menu-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}


.note {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: min(96%, 680px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-image: linear-gradient(var(--content-bg-deg), var(--content-bg-color-1), var(--content-bg-color-2));
    box-shadow: 0 0 6px 5px var(--content-shadow-color);
    color: var(--color-accent);
}

.created {
    font-size: small;
    margin: 1rem;
}

.note img {
    max-width: 100%;
}

.note-text,
.title {
    max-width: 100%;
    text-align: center;
}

.edit-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

}

.non-urgent-icon {
    color: var(--color-disabled);
}

.control {
    cursor: pointer;
}

.link {
    margin-bottom: 1rem;
    color: var(--color-success);
    font-size: larger;
    background-color: var(--color-disabled);
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 15px 15px 15px 15px;
}

.creator-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    width: 95%;
}

.creator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.creator img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px var(--color-disabled);
    object-fit: cover;
}

.creator p {
    margin: 0.5rem;
    font-size: large;
}

.just-bottom-margin {
    margin-bottom: 4rem;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
}

video {
    width: 100%;
    aspect-ratio: 16/9;

}

.show-hashtags {
    width: 98%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.hashtag {
    width: fit-content;
    background-color: var(--color-disabled);
    margin: 0;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.hashtag:hover {
    background-color: var(--color-accent);
    color: var(--color-disabled);
}

.prevent-select {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

@media only screen and (max-width: 600px) {
    .container {
        height: calc(100% - 56px);
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }

    .container::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
}