<div class="container">
    <div class="note" *ngFor="let note of notes">
        <h3 class="title">{{note.text}}</h3>
        <p class="note-text">{{note.text2}}</p>
        <img *ngIf="note.imgUrl !== null" src="{{note.imgUrl}}" alt="pic">
        <p class="created">Created: {{note.created}}</p>
        <mat-divider></mat-divider>

        <div class="edit-row">
            <div class="control" (click)="removeNote(note.id)">
                <mat-icon aria-hidden="false" fontIcon="delete_forever" color="accent"></mat-icon>
            </div>
            <div class="control" (click)="editNote(note)">
                <mat-icon aria-hidden="false" fontIcon="edit" color="accent"></mat-icon>
            </div>
            <div class="control" (click)="changeUrgentOrNotNoteStatus(note,note.id)">
                <mat-icon aria-hidden="false" fontIcon="star" color="accent" *ngIf="note.isUrgent"></mat-icon>
                <mat-icon aria-hidden="false" class="non-urgent-icon" fontIcon="star_outline" *ngIf="!note.isUrgent">
                </mat-icon>
            </div>
        </div>
    </div>
</div>
<app-navigation-mobile-notes></app-navigation-mobile-notes>