.container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.note {
    width: min(97%, 800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--color-primary);
    color: var(--color-accent); 
}

.created {
    font-size: small;
    margin: 1rem;
}

.note img {
    max-width: 100%;
}

.title{
margin-top: 0.4rem;
}

.note-text,.title{
    max-width: 100%;
    text-align: center;
}



.mat-divider {
    width: 95%;  
}

.edit-row{
    width: 95%;  
    display: flex;
    justify-content: space-between;  
    padding: 0.4rem;
}
.non-urgent-icon{
   color: var(--color-disabled);
}

