<div class="container firefox-scrollbar prevent-select" infinite-scroll [scrollWindow]="false"
    [infiniteScrollDistance]="3" (scrolled)="onScrollDown($event)" (scroll)="stopVideoWhenScrollStart()">

    <div class="note" *ngFor="let note of notes; let i = index">
        <div class="creator-info">
            <div class="creator">
                <div class="profile-pic">
                    <img src="{{note.creatorAvatar}}" alt="hello">
                </div>
                <p>{{note.creatorUsername}}</p>
            </div>
            <div class="control" (click)="addOrRemoveToFavoriteList(note)">
                <mat-icon aria-hidden="false" fontIcon="star" color="accent" *ngIf="note.isFavorite"></mat-icon>
                <mat-icon aria-hidden="false" class="non-urgent-icon" fontIcon="star_outline" *ngIf="!note.isFavorite">
                </mat-icon>
            </div>
        </div>
        <h3 class="title">{{note.title}}</h3>
        <p class="note-text">{{note.text}}</p>
        <a class="link" href="{{note.link}}" target="_blank" *ngIf="note.link !== undefined && note.link.length> 1">
            Check It</a>

        <img *ngIf="note.imgUrl !== undefined && note.imgUrl.length> 1" src="{{note.imgUrl}}" alt="pic">

        <ng-container *ngIf="note.ytUrl !== undefined && note.ytUrl.length> 1">
            <iframe [src]="note.ytUrl | safe" allowfullscreen> </iframe>
        </ng-container>

        <ng-container *ngIf="note.videoUrl !== undefined && note.videoUrl.length> 1">
            <video controls preload="none" src="{{note.videoUrl}}" poster="{{note.videoPosterUrl}}"
                (play)="changeVideoRef($event)" id="{{i}}">
            </video>
        </ng-container>

        <p class="created">{{note.created}}</p>
        <div class="show-hashtags">
            <ng-container *ngFor="let hashtag of note.hashtags">
                <p class="hashtag">#{{hashtag}}</p>
            </ng-container>
        </div>

        <div class="edit-row">
            <div class="control" (click)="removeNote(note)" *ngIf="note.creatorId ===currentUserId">
                <mat-icon aria-hidden="false" fontIcon="delete_forever" color="accent"></mat-icon>
            </div>
            <div class="control" (click)="editNote(note)" *ngIf="note.creatorId ===currentUserId">
                <mat-icon aria-hidden="false" fontIcon="edit" color="accent"></mat-icon>
            </div>
            <div class="control" (click)="changeVisibility(note)">
                <mat-icon aria-hidden="false" fontIcon="visibility" color="accent"
                    *ngIf="!note.visibilityOnlyForMe && note.creatorId ===currentUserId"></mat-icon>
                <mat-icon aria-hidden="false" fontIcon="visibility_off" color="accent"
                    *ngIf="note.visibilityOnlyForMe && note.creatorId ===currentUserId"></mat-icon>
            </div>
        </div>
    </div>
    <div class="just-bottom-margin"></div>
</div>
<app-pending *ngIf="isPending"></app-pending>
<app-navigation-mobile-notes></app-navigation-mobile-notes>