<div class="container-small" *ngIf="!isPending && !isShowFullFilterWindow" (click)="changeCloseOrOpenFilterPanel()">
    <h4 class="filter-text">
        <div>
            <span>Filter: </span>
            <span *ngIf="isFilterOn">ON</span>
            <span *ngIf="!isFilterOn">OFF</span>
        </div>
        <span>Result: {{allFilterResult}} Games</span>
    </h4>
    <div class="open">
        <mat-icon aria-hidden="false" fontIcon="keyboard_arrow_down"></mat-icon>
    </div>
</div>

<div class="container" *ngIf="!isPending && isShowFullFilterWindow">
    <form [formGroup]="filterForm">

        <div class="search-and-reset">
            <mat-form-field appearance="standard" color="accent">
                <input matInput placeholder="Search" formControlName="searchText">
            </mat-form-field>
            <button mat-mini-fab aria-label="Reset filter" (click)="resetFilter()">
                <mat-icon>filter_alt_off</mat-icon>
            </button>
        </div>

        <div class="filter-row-1">
            <mat-form-field appearance="outline" color="accent" class="mat-field">
                <mat-label>Sort by</mat-label>
                <mat-select disableOptionCentering formControlName="sortByField">
                    <mat-option value="name">Name</mat-option>
                    <mat-option value="price">Price</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent" class="mat-field">
                <mat-label>Direction</mat-label>
                <mat-select disableOptionCentering formControlName="isAscending">
                    <ng-container *ngIf="formControl['sortByField'].value === 'name'">
                        <mat-option value=true>A-Z</mat-option>
                        <mat-option value=false>Z-A</mat-option>
                    </ng-container>
                    <ng-container *ngIf="formControl['sortByField'].value === 'price'">
                        <mat-option value=true>Lowest</mat-option>
                        <mat-option value=false>Highest</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent" class="mat-field">
                <mat-label>Languages</mat-label>
                <mat-select disableOptionCentering multiple formControlName="languages">
                    <mat-option *ngFor="let language of languages" value="{{language}}">{{language}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="checkboxes">
            <mat-checkbox formControlName="isHideFreeGames">Hide Free</mat-checkbox>
            <mat-checkbox formControlName="isHideMyOwnGames">Hide My Own </mat-checkbox>
            <mat-checkbox formControlName="isHideMyWishlistGames">Hide My Wislhist</mat-checkbox>
        </div>

        <div class="price">
            <mat-slider min="0" max="75" step="5" formControlName="price">
                <input matSliderThumb>
            </mat-slider>
            <label>{{priceWithText}}</label>
        </div>

        <div class="filter-row-2">

            <mat-form-field appearance="outline" color="accent" class="mat-field">
                <mat-label>Genres</mat-label>
                <mat-select disableOptionCentering multiple formControlName="genres">
                    <mat-option *ngFor="let genre of genres" value="{{genre}}">{{genre}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent" class="mat-field">
                <mat-label>OS</mat-label>
                <mat-select disableOptionCentering multiple formControlName="opSystems">
                    <mat-option *ngFor="let system of opSystems" value="{{system}}">{{system}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent" class="mat-field">
                <mat-label>Categories</mat-label>
                <mat-select disableOptionCentering multiple formControlName="categories">
                    <mat-option *ngFor="let category of categories" value="{{category}}">{{category}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </form>
    <div class="container-small" (click)="changeCloseOrOpenFilterPanel()">
        <h4 class="filter-text">
            <div>
                <span>Filter: </span>
                <span *ngIf="isFilterOn">ON</span>
                <span *ngIf="!isFilterOn">OFF</span>
            </div>
            <span>Result: {{allFilterResult}} Games</span>
        </h4>
        <div class="close">
            <mat-icon aria-hidden="false" fontIcon="keyboard_arrow_up"></mat-icon>
        </div>

    </div>
</div>
<app-pending *ngIf="isPending"></app-pending>
<app-navigation-mobile-store></app-navigation-mobile-store>