.container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    padding: 0;
    margin: 0;
    width: min(30%, 80px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-content-bg);
    box-shadow: 0 0 4px 4px var(--color-primary);
    padding: 1rem;
    margin: 0.5rem;
    width: min(97%, 450px);
    border-radius: 0.5rem;
}

mat-form-field {
    width: min(85%, 380px);
}

.changeFormContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.changeFormContainer button,
p {
    padding: 0;
    margin: 0;
}

.changeFormContainer p {
    color: var(--color-accent);
}

.changeFormContainer button {
    color: var(--color-success);
}

.btn-area {
    width: 100%;
    display: flex;
    justify-content: center;
}

mat-chip-list {
    padding-top: 0.5rem;
}