.form {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  
}
form{
    width: min(97%, 400px);
    
}
.mat-form-field {
    width: min(97%, 400px);
}

input,label{
    color: var(--color-accent);  
}  

.mat-hint{
    color:var(--color-warn);
  }

.btn-area{
    width: min(97%, 400px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;   
}

.pending-or-success{
    color: var(--color-accent);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
}
.pending-or-success .mat-icon{
    color: var(--color-success);   
    font-size: 1.5rem;
 
}

