<div class="form">
    <form [formGroup]="createNoteForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="standard" color="accent">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Write a title" id="title" name="title" formControlName="title">
            <mat-hint class="mat-hint">
                <p
                    *ngIf="!createNoteForm.get('title')?.valid && !createNoteForm.get('title')?.errors?.['maxlength'] && createNoteForm.get('title')?.touched ">
                    Title is required
                </p>
                <p *ngIf="createNoteForm.get('title')?.errors?.['maxlength']">
                    Title max length is 30 character
                </p>

            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" color="accent">
            <mat-label>Text</mat-label>
            <input matInput placeholder="Write some text" id="text" name="text" formControlName="text">
            <mat-hint class="mat-hint">
                <p
                    *ngIf="!createNoteForm.get('text')?.valid && !createNoteForm.get('text')?.errors?.['maxlength'] && createNoteForm.get('text')?.touched">
                    Please add some text
                </p>
                <p *ngIf="createNoteForm.get('text')?.errors?.['maxlength']">
                    Text max length is 160 character
                </p>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" color="accent">
            <mat-label>Image Url</mat-label>
            <input type="url" matInput placeholder="Add an image link if you want" id="imageUrl" name="imageUrl"
                formControlName="imageUrl">
        </mat-form-field>

        <br>
        <mat-checkbox class="example-margin" name="isUrgent" id="isUrgent" formControlName="isUrgent">
            Urgent
        </mat-checkbox>

        <div class="btn-area">
            <button mat-raised-button type="submit" [disabled]="!createNoteForm.valid">{{buttonLabel}}</button>
            <button mat-raised-button type="button" (click)="cancelModifyAndBack()">Cancel</button>
        </div>

    </form>
</div>

<div class="pending-or-success">
    <mat-spinner diameter="50" color="accent" *ngIf="isPending"></mat-spinner>
    <ng-container *ngIf="!isPending && isSuccess">
        <mat-icon aria-hidden="false" fontIcon="done"></mat-icon>
        <p>The note was created successfully!</p>
    </ng-container>
    <ng-container *ngIf="!isPending && isModifySuccess">
        <mat-icon aria-hidden="false" fontIcon="done"></mat-icon>
        <p>The note was modified successfully!</p>
    </ng-container>
</div>

<app-navigation-mobile-notes></app-navigation-mobile-notes>