<div class="form">
    <form [formGroup]="createNoteForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <mat-form-field appearance="standard" color="accent">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Write a title" id="title" name="title" formControlName="title">
            <mat-hint class="mat-hint">
                <p
                    *ngIf="!createNoteForm.get('title')?.valid && !createNoteForm.get('title')?.errors?.['maxlength'] && createNoteForm.get('title')?.touched ">
                    Title is required
                </p>
                <p *ngIf="createNoteForm.get('title')?.errors?.['maxlength']">
                    Title max length is 30 character
                </p>

            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" color="accent">
            <mat-label>Text</mat-label>
            <input matInput placeholder="Write some text" id="text" name="text" formControlName="text">
            <mat-hint class="mat-hint">
                <p
                    *ngIf="!createNoteForm.get('text')?.valid && !createNoteForm.get('text')?.errors?.['maxlength'] && createNoteForm.get('text')?.touched">
                    Please add some text
                </p>
                <p *ngIf="createNoteForm.get('text')?.errors?.['maxlength']">
                    Text max length is 160 character
                </p>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="standard" color="accent">
            <mat-label>Website Url</mat-label>
            <input type="url" matInput placeholder="Add a website url if you want" id="link" name="link"
                formControlName="link">
        </mat-form-field>

        <div class="media-tab">
            <p class="media-tab-label">Media Tab</p>

            <div class="img-yt-video-btns">
                <button mat-icon-button color="primary" type="button" (click)="addImageOrVideoLink('imgUrl')">
                    <mat-icon [class.selected-url-btn]="clickedUrlBtn ==='imgUrl'">imagesmode</mat-icon>
                </button>

                <button mat-icon-button color="primary" type="button" (click)="addImageOrVideoLink('ytUrl')">
                    <mat-icon [class.selected-url-btn]="clickedUrlBtn ==='ytUrl'">smart_display</mat-icon>
                </button>

                <button mat-icon-button color="primary" type="button" (click)="addImageOrVideoLink('videoUrl')">
                    <mat-icon [class.selected-url-btn]="clickedUrlBtn ==='videoUrl'">movie</mat-icon>
                </button>
            </div>
            <div class="img-yt-video-input">
                <mat-form-field appearance="standard" color="accent" *ngIf="clickedUrlBtn ==='imgUrl'">
                    <mat-label>Image Url</mat-label>
                    <input type="url" matInput placeholder="Add an image url from web if you want" id="imgUrl"
                        name="imgUrl" formControlName="imgUrl">
                </mat-form-field>

                <mat-form-field appearance="standard" color="accent" *ngIf="clickedUrlBtn ==='ytUrl'">
                    <mat-label>YouTube Url</mat-label>
                    <input type="url" matInput placeholder="Add a YouTube url if you want" id="ytUrl" name="ytUrl"
                        formControlName="ytUrl">
                </mat-form-field>

                <div class="other-video-tab" *ngIf="clickedUrlBtn ==='videoUrl'">
                    <mat-form-field appearance="standard" color="accent">
                        <mat-label>Video Thumbnail</mat-label>
                        <input type="url" matInput placeholder="Add a Video thumbnail url if you want"
                            id="videoPosterUrl" name="videoPosterUrl" formControlName="videoPosterUrl">
                    </mat-form-field>

                    <mat-form-field appearance="standard" color="accent">
                        <mat-label>Video Url</mat-label>
                        <input type="url" matInput placeholder="Add a Video url if you want. For example: Steam"
                            id="videoUrl" name="videoUrl" formControlName="videoUrl">
                    </mat-form-field>
                </div>
            </div>

        </div>

        <br>
        <div class="checkboxes">
            <mat-checkbox class="example-margin" name="visibilityOnlyForMe" id="visibilityOnlyForMe"
                formControlName="visibilityOnlyForMe">
                Visibility private
            </mat-checkbox>

            <mat-checkbox class="example-margin" name="isFavorite" id="isFavorite" formControlName="isFavorite">
                Add to favorites
            </mat-checkbox>
        </div>

        <div class="btn-area">
            <button mat-raised-button type="submit" [disabled]="!createNoteForm.valid">{{buttonLabel}}</button>
            <button mat-raised-button type="button" (click)="cancelModifyAndBack()">Cancel</button>
        </div>

    </form>
</div>

<app-notification [text]="notifyUserText" [isWarnNotification]="false" *ngIf="notifyUserText.length>0">
</app-notification>
<app-pending *ngIf="isPending"></app-pending>
<app-navigation-mobile-notes></app-navigation-mobile-notes>