.form {
    width: 100%;
    height: 100%;
    overflow: auto;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--content-bg-deg), var(--content-bg-color-1), var(--content-bg-color-2));
    box-shadow: 0 0 6px 5px var(--content-shadow-color);
    width: min(88%, 450px);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 75px;
    margin-bottom: 120px;
}

.media-tab-label {
    padding-top: 0.3rem;
    margin: 0;
    text-align: center;
    color: var(--color-accent);
}

.media-tab {
    width: 100%;
    box-shadow: 0 0 5px 1px var(--color-disabled);
    border-radius: 0.5rem;
}

.img-yt-video-btns {
    display: flex;
    justify-content: space-around;
}

.img-yt-video-input {
    display: flex;
    justify-content: center;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.other-video-tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-icon {
    transform: scale(1.2);
    color: var(--color-accent);
}

.selected-url-btn {
    color: var(--color-success);
}

.mat-form-field {
    width: min(97%, 400px);
}

input,
label {
    color: var(--color-accent);
}

.mat-hint {
    color: var(--color-warn);
}

.btn-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.btn-area button {
    margin-left: 1rem;
    margin-right: 1rem;
}

.checkboxes {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width: 600px) {
    .form {
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }

    .form::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
}