<div class="container">
    <mat-slide-toggle [checked]="false" (change)="showOnlyUrgentNotes($event)"> Show Urgent notes only!
    </mat-slide-toggle>
    <div class="notes" *ngFor="let note of notes">
        <div class="note">
            <h3 class="title">{{note.text}}</h3>
            <p>{{note.text2}}</p>
            <img src="{{note.imgUrl}}" alt="pic">
            <p class="created">Created: {{note.created}}</p>
            <mat-divider style="width:25vw;min-width: 20rem; margin-top:2rem;margin-bottom: 2rem;"></mat-divider>
        </div>
    </div>
</div>