.container {
    width: 100%;
    height: calc(100% - var(--top-menu-height));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 2rem;
}

.menu {
    position: sticky;
    top: 1rem;
    z-index: 1;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.menu button {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.content {
    width: 100%;
}