.container {
    width: 100%;
    height: calc(100% - 64px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 2rem;
}

img {
    width: min(50%, 300px);
    border-radius: 50%;
    box-shadow: 0 0 7px 5px var(--color-disabled);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: min(88%, 450px);
    background-color: var(--color-primary);
    box-shadow: 0 0 2px 1px var(--color-disabled);
    border-radius: 0.5rem;
}

mat-form-field {
    width: min(85%, 380px);
}

.just-bottom-margin {
    margin-bottom: 4rem;
}


@media only screen and (max-width: 600px) {
    .container {
        height: calc(100% - 56px);
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }

    .container::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
}