<div class="container">
    <h3>Hello, {{username}}</h3>
    <img src={{avatar}} alt=" profile-picture">

    <form [formGroup]="profileForm">
        <h3>Update your personal info</h3>

        <mat-form-field appearance="standard" color="accent">
            <input matInput placeholder="Username" id="username" name="username" formControlName="username">
        </mat-form-field>

        <mat-form-field appearance="standard" color="accent">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" id="email" name="email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="standard" color="accent">
            <mat-label>Avatar</mat-label>
            <input matInput placeholder="Avatar URL from web" id="avatar" name="avatar" formControlName="avatar">
        </mat-form-field>

        <div class="btn-area">
            <button mat-raised-button type="button" (click)="updateProfile()"
                [disabled]="!profileForm.valid">Update</button>
        </div>
    </form>

    <mat-chip-list>
        <mat-chip *ngIf="updateSuccess!==''" color="accent" selected>{{updateSuccess}}</mat-chip>
        <mat-chip *ngIf="errorResponse !==''" color="warn" selected>{{errorResponse}}</mat-chip>
    </mat-chip-list>

    <form [formGroup]="passChangeForm">
        <h3>Change your password</h3>

        <mat-form-field appearance="standard" color="accent">
            <mat-label>Current Password</mat-label>
            <input type="password" matInput placeholder="At least 6 character long password" id="originalPassword"
                name="originalPassword" formControlName="originalPassword">
        </mat-form-field>

        <mat-form-field appearance="standard" color="accent">
            <mat-label>New Password</mat-label>
            <input type="password" matInput placeholder="At least 6 character long password" id="newPassword"
                name="newPassword" formControlName="newPassword">
        </mat-form-field>

        <mat-form-field appearance="standard" color="accent">
            <mat-label>Confirm New Password</mat-label>
            <input type="password" matInput placeholder="At least 6 character long password" id="confirmNewPassword"
                name="confirmNewPassword" formControlName="confirmNewPassword">
        </mat-form-field>

        <div class="btn-area">
            <button mat-raised-button type="button" (click)="changePass()"
                [disabled]="!passChangeForm.valid">Change</button>
        </div>
    </form>
</div>
<app-pending *ngIf="isPending"></app-pending>