.container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: min(50%, 300px);
    border-radius: 50%;
    box-shadow: 0 0 7px 5px var(--color-disabled);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 2rem;
    width: min(85%, 450px);
    background-color: var(--color-primary);
    box-shadow: 0 0 2px 1px var(--color-disabled);
    border-radius: 0.5rem;
}

mat-form-field {
    width: min(95%, 380px);
}

mat-chip-list {
    margin-top: 1rem;
    height: 1rem;
}