<app-filter-store *ngIf="isFilterOn"></app-filter-store>
<div class="container firefox-scrollbar prevent-select" infinite-scroll [scrollWindow]="false"
    [infiniteScrollDistance]="3" (scrolled)="onScrollDown($event)">
    <div class="flex-container">
        <div class="game" *ngFor="let game of defaultGames; let i = index">
            <img src="{{game.headerImage}}" alt="game-header-img">
            <h3 class="name">{{game.name}}</h3>
            <div class="details">
                <div class="platforms">
                    <ng-container *ngFor="let platform of game.platforms">
                        <mat-icon *ngIf="platform ==='Windows'" svgIcon="windows"></mat-icon>
                        <mat-icon *ngIf="platform ==='Mac'" svgIcon="mac"></mat-icon>
                        <mat-icon *ngIf="platform ==='Linux'" svgIcon="linux"></mat-icon>
                    </ng-container>
                </div>
                <p class="short-description">{{game.shortDescription}}</p>
                <div class="genres">
                    <ng-container *ngFor="let genre of game.genres">
                        <p>{{genre}}</p>
                    </ng-container>
                </div>
                <div class="price">
                    <h3 *ngIf="game.price !== 0">{{game.price}} €</h3>
                    <h3 *ngIf="game.price === 0">Free</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<app-pending *ngIf="isPending"></app-pending>
<app-navigation-mobile-store></app-navigation-mobile-store>