<mat-card [ngStyle]="{'top': deviceHeight+'px'}" [class.display]="isHandset$ | async">
    <a routerLink="/notes/show/community" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="public"></mat-icon>
        <p>Public</p>
    </a>
    <a routerLink="/notes/show/favorites" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="star_rate"></mat-icon>
        <p>Favorites</p>
    </a>
    <a routerLink="/notes/show/my-notes" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="sticky_note_2"></mat-icon>
        <p>My Notes</p>
    </a>
    <a routerLink="/notes/add/create-note" routerLinkActive="active-link-icon">
        <mat-icon aria-hidden="false" fontIcon="create"></mat-icon>
        <p>Create</p>
    </a>
</mat-card>