@use '@angular/material' as mat;
@include mat.core();

$primary: mat.define-palette(mat.$grey-palette,900);
$accent: mat.define-palette(mat.$pink-palette);
$warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);


@include mat.all-component-themes($angular-default-theme);


